.container {
    background-color: rgb(31, 91, 255);
    height: 10%;
    width: 100%;
    background-image: url("paper.gif");
  background-repeat: repeat-x;
}

.logo{
    height: 15%;
    width: 15%;
    margin-right: 1300px;
}

h4{
    color: gray;
}

.testo-blu{
    color: rgb(0, 214, 221);
}

h5{
    color: gray;
}

th{
    background-color: rgb(31, 91, 255);
    color: white;
}

.celeste{
    background-color: rgb(0, 214, 221); 
}

.sottolineato{
    background-color: rgb(251, 255, 21);
}

h3{
    color:gray
}